/* navbar.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fond clair pour toute la page */
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 100px; /* Taille du logo */
  
  left: 20px; /* Espace à gauche de l'écran */
  top: 10px; /* Espace en haut de l'écran */
  z-index: 100;
  
}

.navbar {
  display: flex;
  justify-content: space-between; /* Espace entre le logo et les éléments de navigation */
  align-items: center; /* Centrer verticalement le contenu de la navbar */
  background-color: black; /* Couleur noire pour la navbar */
  padding: 10px 20px;
}

.navbar .navbar-brand {
  color: #4c0cd1; /* Couleur violette pour le texte de la marque */
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

.navbar .navbar-toggler-icon {
  background-color: #ea3cc6; /* Icône de la navbar en rose */
}

.navbar-nav .nav-link {
  color: white; /* Texte des liens en blanc */
  font-size: 1.1rem;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #06c2ca; /* Changement de couleur au survol : turquoise */
  text-decoration: underline;
}

.navbar-nav .nav-link a {
  color: inherit; /* Hérite de la couleur du parent */
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Aligne les éléments à droite */
}

#na {
  color: #cb8cfb; /* Couleur violette plus claire pour le texte "Navbar" */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Enlève la marge droite sur le dernier élément */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin-top: 20px;
    flex-direction: column; /* Aligne les éléments verticalement sur petits écrans */
  }

  .navbar-nav .nav-link {
    margin: 10px 0;
  }
}
