

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

/* Conteneur principal */
.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    
}

/* Disposition des sections en une ligne */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Colonne gauche avec l'image */
.about-col-1 {
    flex: 1;
    max-width: 45%; /* L'image occupe 45% de la largeur */
}

.about-col-1 img {
    width: 15em;
    margin-left: 7em;
    height: auto;
    border-radius: 10px;
}

/* Colonne droite avec le texte */
.about-col-1 + .about-col-1 {
    flex: 1;
    padding-left: 10px;
}

/* Style du titre */
.sub-title {
    font-size: 24px;
    color: #feba29;
    margin-bottom: 10px;
}

/* Style du texte */
p {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    line-height: 1.6;
}

