/* Style global pour le conteneur des cartes */


.message-container{
  margin-top: 50px;
}
.card-container {
  display: flex;
  justify-content: center; /* Centre les cartes horizontalement */
  gap: 15%; /* Espace entre les cartes */
 
}

/* From Uiverse.io by gharsh11032000 */ 
.card {
  position: relative;
  width: 235px; /* Largeur de la boite blanc*/
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 35px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15%;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -13px;
  margin: auto;
  width: 260px;
  height: 380px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #62b6cb 0%, #5fa8d3 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #cae9ff 0%, #1b4965 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}
/*
.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}
*/
.card a:last-child {
  color: #0d78f1;
  font-weight: 600;
  text-decoration: none;
}

.card:hover::after {
  filter: blur(30px);
  
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  height: 340px;
}
